.Wikipedia {
  display: flex;
  font-size: 1em;
  font-family: arial, sans-serif;
}

.Wikipedia .sidebar {
  font-size: 0.8em;
  width: 175px;
  border: 2px solid yellow;
}

.Wikipedia .sidebar img {
  margin-bottom: 10em;
}

.Wikipedia .sidebar h6 {
  margin-top: 1.5em;
  margin-bottom: 0.7em;
  padding-left: 1.6em;
}

.Wikipedia .sidebar ul {
  padding-left: 1.6em;
}

.Wikipedia .sidebar ul li {
  line-height: 1.5;
  color: darkblue;
}

.Wikipedia main {
  flex: 1;
  font-size: 0.8em;
  padding-right: 1em;
  padding-top: 1em;
}

.Wikipedia main nav {
  float: right;
}

.Wikipedia main nav ul {
  display: inline;
  margin-left: 1em;
}

.Wikipedia main nav ul li {
  display: inline;
}

.Wikipedia main nav ul li:not(:last-child) {
  margin-right: 1em;
}