.Amazon {
  font-family: arial, sans-serif;
}

.Amazon .intro-ad {
  display: flex;
  padding: 0.5em 7em;
  text-transform: uppercase;
  align-items: center;
  font-size: 1.05em;
  letter-spacing: 0.04em;
}

.Amazon .intro-ad button {
  text-transform: uppercase;
  background: #000;
  color: #fff;
  border: none;
  padding: 0.7em 0.9em;
  font-size: 0.8em;
  letter-spacing: 0.08em;
  margin-left: 1.5em;
}

.Amazon > header {
  background: darkblue;
  color: #fff;
  padding: 0.8em 1.8em 0 1.8em;
}

.Amazon header .top-header {
  display: flex;
  align-items: center;
}

.Amazon header select {
  margin-left: 4em;
  box-sizing: border-box;
  height: 40px;
  width: 40px;
  background: #ccc;
  border: none;
  font-size: 0.8em;
  -webkit-appearance: none;
  -webkit-border-radius: 4px 0 0 4px;
}

.Amazon header input[type="text"] {
  height: 40px;
  box-sizing: border-box;
  width: 800px;
  max-width: 800px;
}

.Amazon header button {
  height: 40px;
  border: none;
  color: darkblue;
  background: goldenrod;
  box-sizing: border-box;
  border-radius: 0px 4px 4px 0;
}

.Amazon header .bot-header {
  padding: 0.8em 0 0.6em 0;
}

.Amazon header .bot-header nav {

}

.Amazon header .bot-header nav ul {
  display: inline;
}

.Amazon header .bot-header nav ul li {
  display: inline;
}

.Amazon header .bot-header nav .dept {
  margin-right: 4em;
  font-weight: 800;
}

.Amazon header .bot-header nav .your-amazon {
  font-size: 0.9em;
  opacity: 0.8;

}

.Amazon header .bot-header nav .your-amazon li:not(:last-child) {
  margin-right: 1.5em;
}

.Amazon header .bot-header nav .your-account {
  float: right;
}

.Amazon > main {
  display: flex;
  padding-top: 1em;
  padding-bottom: 4em;
  max-width: 1400px;
  margin: 0 auto;
}

.Amazon > main .panel {
  flex: 1;
  background: rgba(0,0,0,0.05);
  padding: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.Amazon > main .panel:not(:last-child) {
  margin-right: 1em;
}

.Amazon > main .panel a {
  text-decoration: none;
  color: blue;
}

.Amazon > main .panel h3 {
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.Amazon > main .panel h4 {
  font-size: 1.3em;
  text-align: left;
}

.Amazon > main .panel p {
  font-size: 0.8em;
}

.Amazon > main .panel hr {
  border: 1px solid rgba(0,0,0,0.2);
  margin-bottom: 1.2em;
}

.Amazon > main .panel button {
  margin-top: 3em;
  width: 100%;
  font-size: 0.8em;
  padding: 0.6em;
  border: 1px solid rgba(0,0,0,0.2);
  background: goldenrod;
  border-radius: 3px;
  margin-bottom: 18em;
}

.Amazon > main .panel .top-subpanel {
  flex: 1;
}

.Amazon .carousel {
  width: 100%;
  height: 20em;
  background: lightblue;
  max-width: 1400px;
  margin: 0 auto;
}

.Amazon footer {
  background: darkblue;
  color: #fff;
}

.Amazon footer .back-top {
  text-align: center;
  background: lightblue;
  padding: 1.4em;
  font-size: 0.8em;
}

.Amazon footer .back-top a {
  color: #fff;
  text-decoration: none;
}

.Amazon footer main {
  display: flex;
  padding: 2.5em 0.7em;
  max-width: 960px;
  margin: 0 auto;
}

.Amazon footer main h5 {
  font-weight: 600;
  margin-bottom: 1em;
}

.Amazon footer main ul li {
  font-size: 0.8em;
}

.Amazon footer main > hr {
  border: 1px solid rgba(255,255,255,0.2);
}

.Amazon footer main .col {
  flex: 1;
}

.Amazon footer .select {
  text-align: center;
  padding-bottom: 3em;
  padding-top: 1em;
  max-width: 960px;
  margin: 0 auto;
}

.Amazon footer .select img {
  margin-right: 6em;
}

.Amazon footer select {
  background: none;
  border: 1px solid rgba(255,255,255,0.5);
  border-radius: 4px;
  color: #fff;
  font-size: 0.8em;
}

.Amazon footer select:not(:last-child) {
  margin-right: 0.8em;
}

.Amazon footer .directory {
  background: black;
  width: 100%;
  height: 20em;
  padding: 3em 0.7em 0 0.7em;
  font-size: 0.7em;
}

.Amazon footer .directory .directory-container {
  max-width: 960px;
  margin: 0 auto;
}

.Amazon footer .copyright {
  background: black;
  text-align: center;
  font-size: 0.75em;
  padding: 2em;
}

.Amazon footer .copyright .copyright-container {
  max-width: 960px;
  margin: 0 auto;
}

.Amazon footer .copyright ul {
  display: inline;
}

.Amazon footer .copyright ul li {
  display: inline;
}

.Amazon footer .copyright ul li:not(:last-child) {
  margin-right: 1.2em;
}

.Amazon footer .copyright small {
  margin-left: 0.5em;
  opacity: 0.5;
}