.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
}

.App-header {
  background: #444;
  text-align: center;
  padding: 1.5em 1.5em;
}

.App-header nav ul li {
  display: inline;
}

.App-header nav ul li:not(:last-child) {
  margin-right: 1em;
}

.App-header nav ul li a {
  font-size: 1em;
  color: #fff;
  text-decoration: none;
}

.App-header nav ul li a:hover, .App header nav ul li a:active, .App header nav ul li a:focus {
  text-decoration: underline;
}

.site-content {
  flex: 1;
  border: 2px solid red;
}